[submodule "gateway"]
	path = gateway
	url = https://github.com/agriCulturaVerde/gateway.git
[submodule "productos"]
	path = productos
	url = https://github.com/agriCulturaVerde/products.git
[submodule "orders"]
	path = orders
	url = https://github.com/agriCulturaVerde/orders.git
[submodule "payment"]
	path = payment
	url = https://github.com/agriCulturaVerde/payment.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/agriCulturaVerde/auth-ms.git
